section.um-about-trust
    .um-about-trust__container.um-container
        h3.um-title-3.um-about-trust__title Почему нам доверяют
        ul.um.advantages-list.um-about-trust__items
            li.um-advantages-list__item.um-about-trust__item
                img(src='./img/about-trust/specialized-icon.svg' alt='Почему нам доверяют, иконка 1').um-advantages__item-list-icon.um-about-trust__item-icon
                h4.um-advantages-list__title.um-about-trust__item-title Узкая специализация
            li.um-advantages-list__item.um-about-trust__item
                img(src='./img/about-trust/experience-icon.svg' alt='Почему нам доверяют, иконка 2').um-advantages-list__item-icon.um-about-trust__item-icon 
                h4.um-advantages-list__title.um-about-trust__item-title Положительный опыт работы
            li.um-advantages-list__item.um-about-trust__item
                img(src='./img/about-trust/approach-icon.svg' alt='Почему нам доверяют, иконка 3').um-advantages-list__item-icon.um-about-trust__item-icon 
                h4.um-advantages-list__title.um-about-trust__item-title Индивидуальный подход