section.um-about-company 
    .um-about-company__container.um-container
        h3.um-title-2.um-about-company__title О компании
        .um-about-company__wrapper
            p.um-subtitle.um-about-company__description
                span.um-subtitle.um-about-company__paragraph Идейные соображения высшего порядка, а также повышение уровня гражданского сознания способствует подготовке и реализации системы массового участия. Сложно сказать, почему независимые государства, инициированные исключительно синтетически, объявлены нарушающими общечеловеческие нормы этики и морали.
                span.um-subtitle.um-about-company__paragraph Современные технологии достигли такого уровня, что постоянное информационно-пропагандистское обеспечение нашей деятельности требует от нас анализа инновационных методов управления процессами! Сложившаяся структура организации создаёт предпосылки для&nbsp;направлений прогрессивного&nbsp;развития.
            img(src="./img/about-company/about-image.png" data-image-desctop='./img/about-company/about-image.png' data-image-tablet='./img/about-company/about-image-tablet.png' alt='О компании, фотография 1').um-about-company__image
