section.um-about-trust
    .um-about-trust__container.um-container
        h3.um-title-3.um-about-trust__title Почему нам доверяют
        ul.um-about-trust__items
            li.um-about-trust__item
                img(src='./img/about-trust/specialized-icon.svg' alt='Почему нам доверяют, иконка 1').um-about-trust__item-icon
                h4.um-about-trust__item-title Узкая специализация
            li.um-about-trust__item
                img(src='./img/about-trust/experience-icon.svg' alt='Почему нам доверяют, иконка 2').um-about-trust__item-icon 
                h4.um-about-trust__item-title Положительный опыт работы
            li.um-about-trust__item
                img(src='./img/about-trust/approach-icon.svg' alt='Почему нам доверяют, иконка 3').um-about-trust__item-icon 
                h4.um-about-trust__item-title Индивидуальный подход