section.um-advantages
    .um-container.um-advantages__container
        h3(data-title-desctop='Преимущества процедуры' data-title-mobile='Преимущества нашей компании').um-title-3.um-advantages__title.js-advantages__title Преимущества процедуры
        ul.um-advantages-list.um-advantages__items
            li.um-advantages-list__item.um-advantages__item
                img(src='./img/about-trust/approach-icon.svg' alt='Почему нам доверяют, иконка 1').um-advantages-list__item-list-icon.um-advantages__item-icon
                h4.um-advantages-list__title.um-advantages__item-title.js-advantages__item-title Комплексная защита руководителей и собственников бизнеса
            li.um-advantages-list__item.um-advantages-list__item--noend.um-advantages__item
                img(src='./img/about-trust/message-icon.svg' alt='Почему нам доверяют, иконка 2').um-advantages-list__item-icon.um-advantages__item-icon 
                h4.um-advantages-list__title.um-advantages__item-title Помощь при камеральных и выездных налоговых проверках
            li.um-advantages-list__item.um-advantages__item
                img(src='./img/about-trust/tribune-icon.svg' alt='Почему нам доверяют, иконка 3').um-advantages-list__item-icon.um-advantages__item-icon 
                h4.um-advantages-list__title.um-advantages__item-title Сопровождение на допрос в налоговую инспекцию
            li.um-advantages-list__item.um-advantages__item
                img(src='./img/about-trust/hummer-icon.svg' alt='Почему нам доверяют, иконка 1').um-advantages-list__item-list-icon.um-advantages__item-icon
                h4.um-advantages-list__title.um-advantages__item-title Оспаривание актов и решений налоговых органов
            li.um-advantages-list__item.um-advantages__item
                img(src='./img/about-trust/pensil-icon.svg' alt='Почему нам доверяют, иконка 2').um-advantages-list__item-icon.um-advantages__item-icon 
                h4.um-advantages-list__title.um-advantages__item-title Консультация по налогооблажению
            li.um-advantages-list__item.um-advantages__item
                img(src='./img/about-trust/search-icon.svg' alt='Почему нам доверяют, иконка 3').um-advantages-list__item-icon.um-advantages__item-icon 
                h4.um-advantages-list__title.um-advantages__item-title  Анализ налоговых рисков 