section.um-advantages
    .um-container.um-advantages__container
        h3(data-title-desctop='Преимущества процедуры' data-title-mobile='Преимущества нашей компании').um-title-3.um-advantages__title.js-advantages__title Преимущества процедуры
        ul.um-advantages-list.um-advantages__items
            li.um-advantages-list__item.um-advantages__item
                img(src='./img/about-trust/books-icon.svg' alt='Почему нам доверяют, иконка 1').um-advantages-list__item-list-icon.um-advantages__item-icon
                h4(data-title-desctop='Готовы начать процедуру банкротства по инициативе должника' data-title-mobile='Спасаем корпоративные и личные активы при банкротстве').um-advantages-list__title.um-advantages__item-title.js-advantages__item-title Спасаем корпоративные и личные активы при банкротстве
            li.um-advantages-list__item.um-advantages__item
                img(src='./img/about-trust/lag-icon.svg' alt='Почему нам доверяют, иконка 2').um-advantages-list__item-icon.um-advantages__item-icon 
                h4.um-advantages-list__title.um-advantages__item-title Занимаемся поиском&nbsp;и идентификацией активов&nbsp;в России и по всему миру
            li.um-advantages-list__item.um-advantages__item
                img(src='./img/about-trust/money-icon.svg' alt='Почему нам доверяют, иконка 3').um-advantages-list__item-icon.um-advantages__item-icon 
                h4.um-advantages-list__title.um-advantages__item-title  Банкротство юридического лица по инициативе&nbsp;должника
            li.um-advantages-list__item.um-advantages__item
                img(src='./img/about-trust/hummer-icon.svg' alt='Почему нам доверяют, иконка 1').um-advantages-list__item-list-icon.um-advantages__item-icon
                h4.um-advantages-list__title.um-advantages__item-title Защита от субсидиарной ответственности
            li.um-advantages-list__item.um-advantages__item
                img(src='./img/about-trust/shield-icon.svg' alt='Почему нам доверяют, иконка 2').um-advantages-list__item-icon.um-advantages__item-icon 
                h4.um-advantages-list__title.um-advantages__item-title Защита при оспаривании&nbsp;сделок
            li.um-advantages-list__item.um-advantages__item
                img(src='./img/about-trust/castle-icon.svg' alt='Почему нам доверяют, иконка 3').um-advantages-list__item-icon.um-advantages__item-icon 
                h4.um-advantages-list__title.um-advantages__item-title  Защита личных активов