section.um-advantages
    .um-container.um-advantages__container
        h3(data-title-desctop='Преимущества процедуры' data-title-mobile='Преимущества нашей компании').um-title-3.um-advantages__title.js-advantages__title Преимущества процедуры
        ul.um-advantages-list.um-advantages__items
            li.um-advantages-list__item.um-advantages__item
                img(src='./img/about-trust/approach-icon.svg' alt='Почему нам доверяют, иконка 1').um-advantages-list__item-list-icon.um-advantages__item-icon
                h4.um-advantages-list__title.um-advantages__item-title.js-advantages__item-title Индивидуальный и независимый подход к каждому участнику спора
            li.um-advantages-list__item.um-advantages__item
                img(src='./img/about-trust/document-icon.svg' alt='Почему нам доверяют, иконка 2').um-advantages-list__item-icon.um-advantages__item-icon 
                h4.um-advantages-list__title.um-advantages__item-title Подготовка необходимой документации по медиативному соглашению
            li.um-advantages-list__item.um-advantages__item
                img(src='./img/about-trust/search-icon.svg' alt='Почему нам доверяют, иконка 3').um-advantages-list__item-icon.um-advantages__item-icon 
                h4.um-advantages-list__title.um-advantages__item-title Мы знакомимся с претензиями и документами конфликтующих сторон
            li.um-advantages-list__item.um-advantages__item
                img(src='./img/about-trust/specialized-icon.svg' alt='Почему нам доверяют, иконка 1').um-advantages-list__item-list-icon.um-advantages__item-icon
                h4.um-advantages-list__title.um-advantages__item-title Предлагаем свой оптимальный вариант решения вопроса и выслушаем пожелания участников
            li.um-advantages-list__item.um-advantages__item
                img(src='./img/about-trust/shield-icon.svg' alt='Почему нам доверяют, иконка 2').um-advantages-list__item-icon.um-advantages__item-icon 
                h4.um-advantages-list__title.um-advantages__item-title Как третья независимая сторона, мы контролируем равноправие участников спора
            li.um-advantages-list__item.um-advantages__item
                img(src='./img/about-trust/castle-icon.svg' alt='Почему нам доверяют, иконка 3').um-advantages-list__item-icon.um-advantages__item-icon 
                h4.um-advantages-list__title.um-advantages__item-title  Гарантия конфиденциальности