section.um-banner.um-banner--tax-disputs
    .um-container.um-banner__container 
        h1.um-title-1.um-banner__title Налоговые споры
        p.um-subtitle.um-banner__subtitle Равным образом, высокое качество позиционных исследований предопределяет высокую востребованность приоритизации разума над эмоциями. И нет сомнений, что представители.