section(style='background-image: url(../../img/banner/banner-mediation--pc.png);' data-img-desctop='background-image: url(../../img/banner/banner-mediation--pc.png);' data-img-tablet='background-image: url(../../img/banner/banner-mediation--tablet.png);' data-img-mobile='background-image: url(../../img/banner/banner-mediation--mobile.png);').um-banner.um-banner--mediation.js-mediation-banner
    .um-container.um-banner__container 
        h1.um-title-1.um-banner__title Медиация
        p.um-subtitle.um-banner__subtitle Равным образом, высокое качество позиционных исследований предопределяет высокую востребованность приоритизации разума над эмоциями. И нет сомнений, что представители.