//- section.um-banner.um-banner--bankruptcy
section(style='background-image: url(../../img/banner/banner-bankruptcypng.png);' data-img-desctop='background-image: url(../../img/banner/banner-bankruptcypng.png);' data-img-tablet='background-image: url(../../img/banner/banner-bankruptcy--tablet.png);' data-img-mobile='background-image: url(../../img/banner/banner-bankruptcy--mobile.png);').um-banner.um-banner--bankruptcy.js-bankruptcy-banner
    .um-container.um-banner__container 
        h1.um-title-1.um-banner__title Банкротство юридических лиц
        p.um-subtitle.um-banner__subtitle Равным образом, высокое качество позиционных исследований предопределяет высокую востребованность приоритизации разума над эмоциями. И нет сомнений, что представители.