section.um-sertificate
    .um-sertificate__container.um-container
        h3.um-title-3.um-sertificate__title Сертификаты
        //- p.um-subtitle.um-sertificate__subtitle Лишь активно развивающиеся страны третьего мира ограничены исключительно образом мышления. Каждый из нас понимает очевидную вещь: дальнейшее развитие различных форм деятельности способствует повышению качества
        p.um-subtitle.um-sertificate__subtitle Запишитесь на консультацию, чтобы узнать, как безопасно вести свой бизнес, исключить многомиллионные доначисления и уголовные дела.
        .swiper.um-certificate__swiper
            .swiper-wrapper.um-certificate__swiper-wrapper
                .swiper-slide.um-sertificate__slide 
                    img(src="./img/certificate/cert1.png" alt="Сертификаты, фото 1").um-sertificate__image
                .swiper-slide.um-sertificate__slide 
                    img(src="./img/certificate/cert2.png" alt="Сертификаты, фото 2").um-sertificate__image
                .swiper-slide.um-sertificate__slide 
                    img(src="./img/certificate/cert3.png" alt="Сертификаты, фото 3").um-sertificate__image
                .swiper-slide.um-sertificate__slide 
                    img(src="./img/certificate/cert4.png" alt="Сертификаты, фото 4").um-sertificate__image
                .swiper-slide.um-sertificate__slide 
                    img(src="./img/certificate/cert5.png" alt="Сертификаты, фото 5").um-sertificate__image
                .swiper-slide.um-sertificate__slide 
                    img(src="./img/certificate/cert3.png" alt="Сертификаты, фото 3").um-sertificate__image
                .swiper-slide.um-sertificate__slide 
                    img(src="./img/certificate/cert3.png" alt="Сертификаты, фото 3").um-sertificate__image
            .swiper-button-next.um-certificate__swiper-btn.um-certificate__swiper-btn_type_next
            .swiper-button-prev.um-certificate__swiper-btn.um-certificate__swiper-btn_type_prev
        .swiper-pagination.um-certificate__swiper-pagination
