section.um-consultation
    .um-consultation__container.um-container
        .um-consultation__wrapper
            h3.um-consultation__title Консультация
            p.um-consultation__description Запишитесь на консультацию, чтобы узнать, как безопасно вести свой бизнес, исключить многомиллионные доначисления и уголовные дела.
            p.um-consultation__contacts Звоните по телефону +7 (908) 826-70-50 или&nbsp;оставляйте&nbsp;заявку на обратный звонок.
        form.um-form
            input(placeholder='Имя' name="name" type="text" required).um-form__input.um-form__input_type_name.js-form__input_type_name
            input(placeholder='Телефон' name="tel" type="tel" required).um-form__input.um-form__input_type_name.js-form__input_type_name
            button(type="sumbit").um-btn.um-btn_type_black.um-form__button-submit Отправить
            p.um-form__accept-terms Отправляя заявку, вы принимаете условия пользовательского соглашения