section.um-consultation
    .um-consultation__container.um-container
        .um-consultation__wrapper
            h3.um-title-3.um-consultation__title Консультация
            p.um-subtitle.um-consultation__subtitle Запишитесь на консультацию, чтобы узнать, как безопасно вести свой бизнес, исключить многомиллионные доначисления и уголовные дела.
            p.um-subtitle.um-consultation__subtitle.um-consultation__subtitle--contacts Звоните по&nbsp;телефону #[a(href='tel: +7 (908) 826-70-50' title='Обратный звонок').um-link.um-link--type-2.um-consultation__telephone +7&nbsp;(908)&nbsp;826&#8209;70&#8209;50]&nbsp;или&nbsp;оставляйте заявку&nbsp;на&nbsp;обратный звонок.
        form.um-form.js-form-submit--page
            input(placeholder='Имя' name="name" type="text" required).um-form__input.um-form__input_type_name.js-form__input--name-page
            input(placeholder='Телефон' name="tel" type="text" required).um-form__input.um-form__input_type_name.js-form__input--telephone.js-form__input--telephone-page
            button(type="sumbit").um-btn.um-btn--type-1.um-form__button-submit Отправить
            p.um-form__accept-terms Отправляя заявку, вы принимаете условия пользовательского соглашения