section.um-contacts
    .um-container.um-contacts__container
        h1.um-title-1.um-contacts__title Контактная информация
        ul.um-contacts__items 
            li.um-contacts__item
                h2.um-subtitle.um-contacts__item-title Адрес:
                p.um-subtitle.um-contacts__item-subtitle г. Магнитогорск, ул. Лесопарковая д.93/1, офис 2
            li.um-contacts__item 
                h2.um-subtitle.um-contacts__item-title Телефон:
                p.um-subtitle.um-contacts__item-subtitle +7 (908) 826-70-50
            li.um-contacts__item 
                h2.um-subtitle.um-contacts__item-title Почта:
                p.um-subtitle.um-contacts__item-subtitle regiontc174@gmail.com