footer.um-footer
    .um-footer__container.um-container
        .um-logo.um-footer__logo
        .um-footer__wrapper
            a(href="/personal-data.html" title='Пользовательское соглашение').um-footer__user-accept Пользовательское соглашение
            a(href="https://uralmedias.ru/" title='Посетить сайт Uralmedias' target='_blanc').um-footer__uralmedias Сайт разработан компанией Uralmedias


.um-overlay.js-overlay
.um-popup.js-popup(data-popup-id="callback")
    .um-popup__close.js-popup__close