footer.um-footer
    .um-footer__container.um-container
        img(src='./img/logo/logo.svg').um-footer__logo
        .um-footer__wrapper
            a(href="#").um-footer__user-accept Пользовательское соглашение
            a(href="#").um-footer__uralmedias Сайт разработан компанией Uralmedias


.um-overlay.js-overlay
.um-popup.js-popup(data-popup-id="callback")
    .um-popup__close.js-popup__close