header.um-header
    .um-header__container.um-container
        .um-logo
        nav.um-header__navigation
            ul.um-header__nav-list
                li.um-header__nav-item
                    a(href='/' title='Переход на Главную страницу').um-header__link.um-link Главная
                li.um-header__nav-item
                    a(href='/bankruptcy.html' title='Переход на страницу Банкротство').um-header__link.um-link Банкротство юридических лиц
                li.um-header__nav-item
                    a(href='/tax-disputs.html' title='Переход на страницу Налоговые споры').um-header__link.um-link Налоговые споры
                li.um-header__nav-item
                    a(href='/mediation.html' title='Переход на страницу Медиация').um-header__link.um-link Медиация
                li.um-header__nav-item
                    a(href='#' title='Переход на страницу Контакты').um-header__link.um-link Контакты
        .um-header__contacts-wrapper
            .um-header__contancts-container
                span.um-header__contacts +7 (908) 826-70-50
                a(href='#' title='Написать на почту').um-header__contacts.um-header__contacts_type_link.um-link regiontc174@gmail.com
            button(type='button').um-btn.um-btn--type-2.um-header__button Обратный звонок
        button(type='button').um-header__burger-button.js-burger-button
    .um-header__burger-wrapper.js-burger
        nav.um-header__navigation.um-header__navigation--burger
            ul.um-header__nav-list.um-header__nav-list--burger
                li.um-header__nav-item.um-header__nav-item--burger
                    a(href='/' title='Переход на Главную страницу').um-header__link.um-link.um-header__link--burger Главная
                li.um-header__nav-item.um-header__nav-item--burger
                    a(href='/bankruptcy.html' title='Переход на страницу Банкротство').um-header__link.um-link.um-header__link--burger Банкротство юридических лиц
                li.um-header__nav-item.um-header__nav-item--burger
                    a(href='/tax-disputs.html' title='Переход на страницу Налоговые споры').um-header__link.um-link.um-header__link--burger Налоговые споры
                li.um-header__nav-item.um-header__nav-item--burger
                    a(href='/mediation.html' title='Переход на страницу Медиация').um-header__link.um-link.um-header__link--burger Медиация
                li.um-header__nav-item.um-header__nav-item--burger
                    a(href='#' title='Переход на страницу Контакты').um-header__link.um-link.um-header__link--burger Контакты
        .um-header__contacts-wrapper.um-header__contacts-wrapper--burger
            .um-header__contancts-container.um-header__contancts-container--burger
                span.um-header__contacts.um-header__contacts--burger +7 (908) 826-70-50
                a(href='#' title='Написать на почту').um-header__contacts.um-header__contacts_type_link.um-header__contacts--burger.um-link regiontc174@gmail.com
            button(type='button').um-btn.um-btn--type-2.um-header__button.um-header__button--burger Обратный звонок
