header.um-header
    .um-header__container.um-container
        a(href='/' title='Вернуться на главную').um-logo
        nav.um-header__navigation
            ul.um-header__nav-list
                li.um-header__nav-item
                    a(href='/' title='Переход на Главную страницу').um-header__link.um-link.js-link-index Главная
                li.um-header__nav-item
                    a(href='/bankruptcy.html' title='Переход на страницу Банкротство').um-header__link.um-link.js-link-bankruptcy Банкротство юридических лиц
                li.um-header__nav-item
                    a(href='/tax-disputs.html' title='Переход на страницу Налоговые споры').um-header__link.um-link.js-link-tax Налоговые споры
                li.um-header__nav-item
                    a(href='/mediation.html' title='Переход на страницу Медиация').um-header__link.um-link.js-link-mediation Медиация
                li.um-header__nav-item
                    a(href='/contacts-page.html' title='Переход на страницу Контакты').um-header__link.um-link.js-link-contacts Контакты
        .um-header__contacts-wrapper
            .um-header__contancts-container
                a(href='tel: +7 (908) 826-70-50' title='Позвонить по телефону').um-link.um-header__contacts.um-header__contacts_type_link +7 (908) 826-70-50
                a(href='mailto: regiontc174@gmail.com' title='Написать на почту').um-link.um-header__contacts.um-header__contacts_type_link regiontc174@gmail.com
            button(type='button').um-btn.um-btn--type-2.um-header__button.js-header-call-btn Обратный звонок
        button(type='button').um-header__burger-button.js-burger-button
    .um-header__burger-container.js-burger-container
        .um-header__burger-wrapper.js-burger
            nav.um-header__navigation.um-header__navigation--burger
                ul.um-header__nav-list.um-header__nav-list--burger
                    li.um-header__nav-item.um-header__nav-item--burger
                        a(href='/' title='Переход на Главную страницу').um-header__link.um-link.um-header__link--burger.js-link-index Главная
                    li.um-header__nav-item.um-header__nav-item--burger
                        a(href='/bankruptcy.html' title='Переход на страницу Банкротство').um-header__link.um-link.um-header__link--burger.js-link-bankruptcy Банкротство юридических лиц
                    li.um-header__nav-item.um-header__nav-item--burger
                        a(href='/tax-disputs.html' title='Переход на страницу Налоговые споры').um-header__link.um-link.um-header__link--burger.js-link-tax Налоговые споры
                    li.um-header__nav-item.um-header__nav-item--burger
                        a(href='/mediation.html' title='Переход на страницу Медиация').um-header__link.um-link.um-header__link--burger.js-link-mediation Медиация
                    li.um-header__nav-item.um-header__nav-item--burger
                        a(href='/contacts-page.html' title='Переход на страницу Контакты').um-header__link.um-link.um-header__link--burger.js-link-contacts Контакты
            .um-header__contacts-wrapper.um-header__contacts-wrapper--burger
                .um-header__contancts-container.um-header__contancts-container--burger
                    a(href='tel: +79088267050').um-link.um-header__contacts.um-header__contacts--burger +7 908 826 70 50
                    a(href='mailto: regiontc174@gmail.com' title='Написать на почту').um-link.um-header__contacts.um-header__contacts_type_link.um-header__contacts--burger regiontc174@gmail.com
                button(type='button').um-btn.um-btn--type-2.um-header__button.um-header__button--burger.js-burger-call-btn Обратный звонок
