sectiom.um-not-found
    .um-not-found__container 
        h1.um-not-found__title Ошибка
        p.um-not-found__subtitle 404
        a(href="/index.html" title="Переход на главную страницу").um-btn.um-btn--type-3.um-not-found__button Вернуться на главную