section.um-personal
    .um-container.um-personal__container 
        article.um-personal__document 
            h1.um-title-2.um-personal__title Соглашение на обработку персональных данных
            h2.um-subtitle.um-personal__subtitle Термины, применяемые в настоящем Соглашении:
            ul.um-personal__items 
                li.ul-personal__item 
                    p.um-personal__description Сайт – это совокупность текстов, графических элементов, дизайна, изображений, программного кода, фото- и видео материалов и иных результатов интеллектуальной деятельности, содержащихся в сети Интернет.
                li.ul-personal__item 
                    p.um-personal__description Администрация Сайта – это лицо, обладающее правами администрирования Сайта.
                li.ul-personal__item 
                    p.um-personal__description Пользователь – это любое лицо, осуществившее вход на Сайт и принявшее условия настоящего Соглашения, независимо от факта прохождения процедур регистрации и авторизации.
            h2.um-subtitle.um-personal__subtitle Использование персональных данных
            p.um-personal__description.um-personal__description--subtitle Присоединяясь к настоящему Соглашению и оставляя свои данные на Сайте https://***.ru, (далее – Сайт), путем заполнения полей формы (регистрации) Пользователь:
            ul.um-personal__items 
                li.ul-personal__item 
                    p.um-personal__description подтверждает, что все указанные им данные принадлежат лично ему;
                li.ul-personal__item 
                    p.um-personal__description подтверждает и признает, что им внимательно в полном объеме прочитано Соглашение и условия обработки его персональных данных, указываемых им в полях формы (регистрации), текст соглашения и условия обработки персональных данных ему понятны;
                li.ul-personal__item 
                    p.um-personal__description дает согласие на обработку Сайтом предоставляемых в составе информации персональных данных в целях заключения между ним и Сайтом настоящего Соглашения, а также его последующего исполнения;
                li.ul-personal__item 
                    p.um-personal__description дает согласие на обработку Сайтом предоставляемых персональных данных в целях регистрации Пользователя на Сайте;
                li.ul-personal__item 
                    p.um-personal__description выражает согласие с условиями обработки персональных данных без каких-либо оговорок и ограничений.
            p.um-personal__description.um-personal__description--subtitle Владельцем всей информации на сайте является Индивидуальный предприниматель ***
            p.um-personal__description ИНН ***
            p.um-personal__description Юр. адрес: ***
            p.um-personal__description гор. Магнитогорск, ул. Карла Маркса, дом 166.
            p.um-personal__description.um-personal__description--subtitle-2 Пользователь дает свое согласие на обработку его персональных данных, а именно совершение действий, предусмотренных п. 3 ч. 1 ст. 3 Федерального закона от 27.07.2006 N 152-ФЗ "О персональных данных", и подтверждает, что, давая такое согласие, он действует свободно, своей волей и в своем интересе.
            p.um-personal__description.um-personal__description--subtitle-3 Согласие Пользователя на обработку персональных данных является конкретным, информированным и сознательным.
            p.um-personal__description.um-personal__description--subtitle-3 Обработке подлежат следующие персональные данные:
            ul.um-personal__items.um-personal__items--type-3
                li.ul-personal__item
                    p.um-personal__description Фамилия, имя, отчество Пользователя;
                li.ul-personal__item 
                    p.um-personal__description Электронный адрес Пользователя;
                li.ul-personal__item 
                    p.um-personal__description Номер телефона Пользователя.
                li.ul-personal__item 
                    p.um-personal__description Направленные Администрации Сайта файлы, в том числе и фотографии.
            p.um-personal__description.um-personal__description--subtitle Под обработкой персональных данных подразумевается следующий перечень действий с персональными данными: сбор, запись, систематизация, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передача (распространение, предоставление доступа), обезличивание, блокирование, удаление, уничтожение персональных данных. Данное согласие на обработку персональных данных действует бессрочно, но может быть отозвано субъектом персональных данных на основании распоряжения в форме подачи заявки на нашем Сайте.
            p.um-personal__description Администрация Сайта обязуется использовать персональные данные Пользователя, полученные в результате использования Сайта, в соответствии с требованиями законодательства о защите персональных данных, в том числе федерального закона №152-ФЗ от 27.07.2006 «О персональных данных» в редакции, действующей на момент обработки таких персональных данных.
            h2.um-subtitle.um-personal__subtitle Дополнительные условия
            ul.um-personal__items.um-personal__items--type-3
                li.ul-personal__item 
                    p.um-personal__description что настоящее Соглашение может быть им отозвано посредством распоряжения в форме подачи заявки на нашем Сайте.
                li.ul-personal__item 
                    p.um-personal__description что срок хранения и обработки его персональных данных устанавливается по усмотрению Администрации Сайта и может составлять до 10 лет с момента последнего размещения Пользователем информации.
            p.um-personal__description.um-personal__description--subtitle-4 Пользователь гарантирует:
            ul.um-personal__items.um-personal__items--type-2.um-personal__items--type-3
                li.ul-personal__item 
                    p.um-personal__description что информация, им предоставленная, является полной, точной и достоверной;
                li.ul-personal__item 
                    p.um-personal__description что при предоставлении информации не нарушается действующее законодательство Российской Федерации, законные права и интересы третьих лиц;
                li.ul-personal__item 
                    p.um-personal__description что вся предоставленная на Сайт информация заполнена Пользователем в отношении себя лично, все действия по регистрации на Сайте совершены непосредственно им;
                li.ul-personal__item 
                    p.um-personal__description что не были использованы чужие контактные данные, включая телефон, e-mail и т.п.;
                li.ul-personal__item 
                    p.um-personal__description что не создавались помехи в использовании Сайта другими Пользователями, в том числе посредством распространения компьютерных вирусов, неоднократного размещения дублирующей информации, одновременную отправку большого количества электронной почты, либо запросов к Сайту и т.п.
            p.um-personal__description.um-personal__description--subtitle.um-personal__description--subtitle-5 Сайт не несет ответственности за использование (как правомерное, так и неправомерное) третьими лицами Информации, размещенной Пользователем на Сайте, включая её воспроизведение и распространение, осуществленные всеми возможными способами. Сайт имеет право вносить изменения в настоящее Соглашение. При внесении изменений в актуальной редакции указывается дата последнего обновления. Новая редакция Соглашения вступает в силу с момента ее размещения, если иное не предусмотрено новой редакцией Соглашения.
            p.um-personal__description.um-personal__description--subtitle-3 Действующая редакция Соглашения находится на странице по адресу: https://***.ru К настоящему Соглашению и отношениям между Пользователем и Сайтом, возникающим в связи с применением Соглашения, подлежит применению право Российской Федерации.
