.um-popup.js-popup-call
    button(type='button').um-popup__button-close.js-close-btn
    .um-popup__container
        h4.um-popup__title Закажите бесплатный&nbsp;звонок!
        p.um-popup__subtitle и наш специалист свяжется с Вами в ближайшее время.
        form.um-form.um-form--popup.js-form-submit--popup
            input(placeholder='Имя' name="name" type="text" required).um-form__input.um-form__input_type_name.js-form__input--name-burger
            input(placeholder='Телефон' name="tel" type="tel" required).um-form__input.um-form__input_type_name.js-form__input--telephone-burger
            button(type="sumbit").um-btn.um-btn--type-1.um-form__button-submit Отправить
            p.um-form__accept-terms Отправляя заявку, вы принимаете условия пользовательского соглашения
