.um-popup.js-popup-thanks
    button(type='button').um-popup__button-close.js-close-btn
    .um-popup__container.um-popup__container--thanks
        .um-popup__image
        h4.um-popup__title.um-popup__title--thanks Спасибо!
        p.um-popup__subtitle Ваша заявка на консультацию будет рассмотрена в ближайшее время.
