section.um-promo
    .um-promo__title-container.um-container
        span.um-promo__about Наш профиль
        h1.um-promo__title.um-promo__title_type_desctop Банкротство юридических&nbsp;лиц, налоговые споры, медиация
        h1.um-promo__title.um-promo__title_type_mobile Банкротство юрлиц, налоговые споры, медиация
        p.um-promo__description Мы находимся в г. Магнитогорске и успешно решаем проблемы банкротства с 2018 года.