section.um-promo
    .um-promo__container.um-container
        span.um-promo__about Наш профиль
        h1(data-text-desctop='Банкротство юридических\u00A0лиц, налоговые споры, медиация' data-text-mobile='Банкротство юрлиц, налоговые споры, медиация').um-title-1.um-promo__title.um-promo__title--desctop.js-change-title Банкротство юридических&nbsp;лиц, налоговые споры, медиация
        p.um-subtitle.um-promo__subtitle Мы находимся в г. Магнитогорске и успешно решаем проблемы банкротства с 2018 года.