section.um-promo
    .um-promo__container.um-container
        span.um-promo__about Наш профиль
        h1.um-title-1.um-promo__title.um-promo__title--desctop Банкротство юридических&nbsp;лиц, налоговые споры, медиация
        h1.um-title-1.um-promo__title.um-promo__title--mobile Банкротство юрлиц, налоговые споры, медиация
        p.um-subtitle.um-promo__subtitle Мы находимся в г. Магнитогорске и успешно решаем проблемы банкротства с 2018 года.