section.um-promo
    //- img(src="./img/promo/promo.png").um-promo__image
    .um-promo__title-container
        span.um-promo__about Наш профиль
        h1.um-promo__title Банкротство юридических&nbsp;лиц, налоговые споры, медиация
        p.um-promo__description Мы находимся в г. Магнитогорске и успешно решаем проблемы банкротства с 2018 года.
    .um-promo__cover