section.um-services
    .um-services__container.um-container
        h2.um-title-2.um-services__title Услуги нашей компании
        p.um-subtitle.um-services__subtitle В рамках спецификации современных стандартов, тщательные исследования конкурентов.
        ul.um-services__items
            li.um-services__item
                img(src='./img/services/image-card1.png' alt='Услуги, фотография 1').um-services__item-image
                h3.um-services__item-title Сопровождение банкротства
                p.um-services__item-description Равным образом, высокое качество позиционных исследований предопределяет высокую востребованность приоритизации разума над эмоциями.
                a(href="/bankruptcy.html" title='Узнать подробности').um-btn.um-btn--type-3.um-services__item-button Подробнее
            li.um-services__item
                img(src='./img/services/image-card2.png' alt='Услуги, фотография 2').um-services__item-image
                h3.um-services__item-title.um-services__item-title--row Налоговые дела
                p.um-services__item-description Равным образом, высокое качество позиционных исследований предопределяет высокую востребованность приоритизации разума над эмоциями. И нет сомнений, что представители.
                a(href="#" title='Узнать подробности').um-btn.um-btn--type-3.um-services__item-button.um-services__item-button.um-services__item-button--type-2 Подробнее
            li.um-services__item 
                img(src='./img/services/image-card3.png' alt='Услуги, фотография 3').um-services__item-image
                h3.um-services__item-title.um-services__item-title--row Медиация
                p.um-services__item-description Равным образом, высокое качество позиционных исследований предопределяет высокую востребованность приоритизации разума над эмоциями. И нет сомнений, что представители.
                a(href="#" title='Узнать подробности').um-btn.um-btn--type-3.um-services__item-button.um-services__item-button--type-2 Подробнее