section.um-services
    .um-services__container.um-container
        h2.um-services__title Услуги нашей компании
        p.um-services__subtitle В рамках спецификации современных стандартов, тщательные исследования конкурентов.
        ul.um-services__card-list
            li.um-services__item 
                img(src='./img/services/image-card1.png' alt='#').um-services__card-image
                h3.um-services__card-title Сопровождение банкротства
                p.um-services__card-description Равным образом, высокое качество позиционных исследований предопределяет высокую востребованность приоритизации разума над эмоциями.
                a(href="#").um-services__card-button.um-btn.um-btn_type_black Подробнее
            li.um-services__item 
                img(src='./img/services/image-card2.png' alt='#').um-services__card-image
                h3.um-services__card-title Налоговые дела
                p.um-services__card-description Равным образом, высокое качество позиционных исследований предопределяет высокую востребованность приоритизации разума над эмоциями. И нет сомнений, что представители.
                a(href="#").um-services__card-button.um-btn.um-btn_type_black Подробнее
            li.um-services__item 
                img(src='./img/services/image-card3.png' alt='#').um-services__card-image
                h3.um-services__card-title Медиация
                p.um-services__card-description Равным образом, высокое качество позиционных исследований предопределяет высокую востребованность приоритизации разума над эмоциями. И нет сомнений, что представители.
                a(href="#").um-services__card-button.um-btn.um-btn_type_black Подробнее