section.um-team
    .um-team__container.um-container
        h3.um-title-3.um-team__title Наша команда специалистов
        p.um-subtitle.um-team__subtitle Лишь активно развивающиеся страны третьего мира ограничены исключительн образом мышления. Каждый из нас понимает очевидную вещь: дальнейшее развитие различных форм деятельности способствует повышению качества
        .swiper.um-team__swiper
            .swiper-wrapper 
                .swiper-slide 
                    img(src="./img/team/image-team-1.png" alt="Наша команда, фото 1").um-team__image
                .swiper-slide
                    img(src="./img/team/image-team-2.png" alt="Наша команда, фото 2").um-team__image
                .swiper-slide 
                    img(src="./img/team/image-team-3.png" alt="Наша команда, фото 3").um-team__image
                .swiper-slide
                    img(src="./img/team/image-team-1.png" alt="Наша команда, фото 1").um-team__image
            .swiper-button-next.um-team__swiper-btn.um-team__swiper-btn_type_next
            .swiper-button-prev.um-team__swiper-btn.um-team__swiper-btn_type_prev
        .swiper-pagination.um-team__swiper-pagination