//- section.um-translation.um-banner--translation
//-     .um-container.um-translation__container
//-       h2.um-title-2.um-translation__title Профессиональное сопровождение банкротства юридических лиц
//-       p.um-subtitle.um-translation__subtitle Понимание сути ресурсосберегающих технологий позволяет выполнить важные задания по разработке анализа существующих паттернов поведения. Как принято считать, сторонники тоталитаризма в науке, вне зависимости от их уровня, должны быть призваны к ответу. Имеется спорная точка зрения, гласящая примерно следующее: элементы политического процесса могут быть ограничены исключительно образом мышления. Следует отметить, что убеждённость некоторых оппонентов играет важную роль в формировании поэтапного и последовательного развития общества.
//-       ul.um-translation__list
//-           li.um-translation__item 
//-               span.um-translation__paragraph Пункт 1
//-           li.um-translation__item 
//-               span.um-translation__paragraph Пункт 2
//-           li.um-translation__item 
//-               span.um-translation__paragraph Пункт 3
//-       p.um-subtitle.um-translation__subtitle Понимание сути ресурсосберегающих технологий позволяет выполнить важные задания по разработке анализа существующих паттернов поведения. 