.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-burger {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-check {
	font-size:(14/10)*1rem;
	width:(14/14)*1em;
}
.icon-clip {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-close {
	font-size:(18/10)*1rem;
	width:(18/18)*1em;
}
.icon-close-eye {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-delete {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-doc {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-doc-2 {
	font-size:(28/10)*1rem;
	width:(28/28)*1em;
}
.icon-doc-x {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-filter {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-info {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-menu-archive {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-menu-book {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-menu-car {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-menu-desk {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-menu-doc {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-menu-docs {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-menu-user {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-open-eye {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-play {
	font-size:(46/10)*1rem;
	width:(46/46)*1em;
}
.icon-plus {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-search {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-upload {
	font-size:(25/10)*1rem;
	width:(25/25)*1em;
}
