.um-advantages-list {
    margin-top: 33px;
    display: flex;
    gap: 115px;
    
    &__item {
        max-width: 234px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 21px;

        &:nth-child(2) {
          justify-content: end;
      }
    }

    &__item-icon {
        max-width: 88px;
        width: 100%;
        max-height: 88px;
        height: 100%;
    }

    &__item-title {
        font-family: $family;
        font-weight: 500;
        font-size: 22px;
        line-height: 140%;
        text-align: center;
    }
}

@media screen and (max-width: 1023px) {
    .um-advantages-list {

      &__items {
          margin-top: 23px;
          gap: 50px;
      }

      &__item {
          max-width: 184px;
          gap: 16.04px;

          &:nth-child(2) {
            justify-content: none;
        }
      }

      &__item-icon {
        max-width: 56.59px;
        width: 100%;
        max-height: 56.59px;
        height: 56.59px;
      }

      &__item-title {
          font-size: 20px;
      }
  }
}

@media screen and (max-width: 600px) {
    .um-advantages-list {
  
        &__items {
            flex-direction: column;
            gap: 21px;
        }
  
        &__item {
            max-width: 167px;
            gap: 16.58px;
        }
  
        &__item-icon {
            max-width: 66.84px;
            width: 100%;
            max-height: 66.84px;
            height: 66.84px;
        }
  
        &__item-title {
            font-size: 18px;
            line-height: 155%;
        }
    }
  }