@media screen and (max-width: 850px) {
    .um-about-trust {
        &__container {
            padding-bottom: 56px;
        }

        &__title {
            padding-bottom: 23px;
        }

        &__card-list {
            gap: 50px;
        }

        &__card-item {
            max-width: 184px;
        }

        &__card-icon {
            max-width: 56.59px;
        }

        &__card-title {
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 600px) {
    .um-about-trust {
        &__container {
            padding-bottom: 41px;
        }

        &__card-list {
            flex-direction: column;
            gap: 21px;
        }

        &__card-item {
            max-width: 167px;
        }

        &__card-icon {
            max-width: 67px;
        }

        &__card-title {
            font-size: 18px;
            line-height: 155%;
        }
    }
}

.um-about-trust {
    &__container {
        padding-bottom: 69px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        padding-bottom: 33px;
    }

    &__card-list {
        display: flex;
        gap: 115px;
    }

    &__card-item {
        max-width: 234px;
    }

    &__card-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 21px;

        &:nth-child(2) {
          justify-content: end;
      }
    }

    &__card-title {
        font-family: $family;
        font-weight: 500;
        font-size: 22px;
        line-height: 140%;
        text-align: center;
    }
}