.um-banner {
    margin: 72px auto 0 auto;
    max-width: 1920px;
    width: 100%;
    max-height: 576px;
    display: flex;
    position: relative;
    z-index: 1;
    background-size: cover;
    background-position: 50%;

    &::before {
      content: " ";
      display: block;
      width: 50%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      background: linear-gradient(90deg, #15171C -3.93%, rgba(21, 23, 28, 0.76) 29.13%, rgba(21, 23, 28, 0.45) 100%);
    }

    &::after {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        background: linear-gradient(90deg, #15171C -3.93%, rgba(21, 23, 28, 0.76) 29.13%, rgba(21, 23, 28, 0.45) 100%);
        transform: matrix(-1, 0, 0, 1, 0, 0);
        z-index: 2;
    }

    @media screen and (max-width: 1023px) {

      &::before {
        width: 62%;
        background: linear-gradient(90deg, #15171C 0%, rgba(21, 23, 28, 0.88) 25.6%, rgba(21, 23, 28, 0.63) 57.17%, rgba(21, 23, 28, 0.23) 77.6%, rgba(21, 23, 28, 0) 96.39%);
      }
  
      &::after {
          width: 62%;
          background: linear-gradient(90deg, #15171C 0%, rgba(21, 23, 28, 0.88) 25.6%, rgba(21, 23, 28, 0.63) 57.17%, rgba(21, 23, 28, 0.23) 77.6%, rgba(21, 23, 28, 0) 96.39%);
          transform: matrix(-1, 0, 0, 1, 0, 0);
      }
    }

    @media screen and (max-width: 767px) {
      margin-top: 51px;

      &::before {
        left: -47px;
        width: 400px;
        background: linear-gradient(90deg, #15171C -16.47%, rgba(21, 23, 28, 0.82) 20.18%, rgba(21, 23, 28, 0.48) 45.28%, rgba(21, 23, 28, 0.23) 77.95%, rgba(21, 23, 28, 0) 96.39%);
      }
  
      &::after {
          right: -47px;
          width: 400px;
          background: linear-gradient(90deg, #15171C -16.47%, rgba(21, 23, 28, 0.82) 20.18%, rgba(21, 23, 28, 0.48) 45.28%, rgba(21, 23, 28, 0.23) 77.95%, rgba(21, 23, 28, 0) 96.39%);
          transform: matrix(-1, 0, 0, 1, 0, 0);
      }
    }

    &--bankruptcy {
        background-image: url(../../img/banner/banner-bankruptcypng.png);

        @media screen and (max-width: 1023px) {
            background-image: url(../../img/banner/banner-bankruptcy--tablet.png);
        } 

        @media screen and (max-width: 767px) {
            background-image: url(../../img/banner/banner-bankruptcy--mobile.png);
        } 
    }

    &--mediation {
        background-image: url(../../img/banner/banner-mediation--pc.png);

        @media screen and (max-width: 1023px) {
            background-image: url(../../img/banner/banner-mediation--tablet.png);
        } 

        @media screen and (max-width: 767px) {
            background-image: url(../../img/banner/banner-mediation--mobile.png);
        } 
    }

    &--tax-disputs {
        background-image: url(../../img/banner/banner-tax-disputs.png);

        @media screen and (max-width: 1023px) {
            background-image: url(../../img/banner/banner-tax-disputs--tablet.png);
        } 

        @media screen and (max-width: 767px) {
            background-image: url(../../img/banner/banner-tax-disputs--mobile.png);
        } 
    }

    &__container {
        margin-top: 164px;
        box-sizing: border-box;
        padding: 0 0 182px;
        max-width: 886px;
        width: 100%;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 1023px) {
            max-width: 519px;
            margin-top: 136px;
            padding-bottom: 189px;
        }

        @media screen and (max-width: 767px) {
            max-width: 345px;
            margin-top: 85px;
            padding-bottom: 101px;
        } 
    }

    &__title {
        text-align: center;
        z-index: 3;
    }

    &__subtitle {
        max-width: 725px;
        margin: 16px auto 0;
        text-align: center;
        z-index: 3;

        @media screen and (max-width: 1023px) {
            margin-top: 27px;
        } 

        @media screen and (max-width: 767px) {
            margin-top: 18px;
        } 
    }
}