.um-btn {
    
    &:active {
        
    }

    @media (hover: hover) {
        transition: all .3s ease-in-out;

        &:hover {
            background-color: $orange;
            cursor: pointer;
            color: $black;
        }

        &_type_black:hover {
          cursor: pointer;
          color: $orange;
          background-color: $black;
        }
    }
}