.um-consultation {
    background-color: $white;

    &__container {
        padding-top: 61px;
        padding-bottom: 63px;
        display: flex;
        justify-content: space-between;
    }

    &__wrapper {
        max-width: 647px;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__title {
        color: $black;
        text-align: left;
    }

    &__subtitle {
        color: $black;
    }

    &__subtitle--contacts {
        max-width: 450px;
        font-weight: 500;
    }
}

@media screen and (max-width: 1023px) {
  .um-consultation {

      &__container {
          padding: 52px 0;
          flex-direction: column;
          align-items: center;
          gap: 25px;
      }

      &__wrapper {
          max-width: 669px;
          gap: 14px
      }

      &__title {
          text-align: center;
      }

      &__subtitle {
          text-align: center;
      }

      &__subtitle--contacts {
          max-width: 647px;
      }
  }
}

@media screen and (max-width: 767px) {
  .um-consultation {

      &__container {
        padding: 34px 15px 35px;
        gap: 20px;
      }

      &__wrapper {
        gap: 9px
      }

      &__subtitle--contacts {
        align-self: center;
    }
  }
}