@media screen and (max-width: 768px) {
  .um-sertificate {
      &__container {
        padding-top: 52px;
        padding-bottom: 55px;
      }

      &__title {
        margin-bottom: 15px;
      }
  
      &__subtitle {
        margin-bottom: 25px;
      }
  }

  .um-certificate__swiper {
      height: 241px;
      margin-bottom: 35px;
  }
  
  .um-certificate__swiper-btn {
      width: 46px;
      height: 46px;
  }
}

@media screen and (max-width: 400px) {
    .um-sertificate {
        &__container {
          padding-top: 31px;
          padding-bottom: 36px;
        }

        &__title {
          margin-bottom: 9px;
        }
    
        &__subtitle {
          margin-bottom: 16px;
        }
    }

    .um-certificate__swiper {
        height: 235px;
        margin-bottom: 28px;
    }
    
    .um-certificate__swiper-btn {
        visibility: hidden;
    }
}

.um-sertificate {
    background-color: $white;

    &__container {
        padding-top: 65px;
        padding-bottom: 68px;
    }

    &__title {
      margin-bottom: 13px;
      color: $black;
    }

    &__subtitle {
      margin-bottom: 23px;
      text-align: center;
      color: $black;
    }
}

.um-certificate__swiper {
    height: 322px;
    margin-bottom: 48px;
}

.um-certificate__swiper-btn {
    display: block;
    width: 59px;
    height: 59px;
    color: $orange;
    background: $white;
    box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.44);
    background-repeat: no-repeat;
    background-position: center;
    opacity: .5;
    border-radius: 50%;

    &_type_next {
        background-image: url(../../img/team/next-icon.svg);
    }

    &_type_prev {
        background-image: url(../../img/team/prev-icon.svg);
    }

    &:hover {
        opacity: 1;
    }
}