.um-footer {
    &__container {
        height: 72px;
        display: flex;
        justify-content: space-between;
    }

    &__wrapper {
        max-width: 546px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__user-accept {
        font-family: $family;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: $white;

        &:hover, &:active {
            transition: all .3s ease-in-out;
            cursor: pointer;
            color: $orange;
        }
    }

    &__uralmedias {
        font-family: $family;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: $white;

        &:hover, &:active {
            transition: all .3s ease-in-out;
            cursor: pointer;
            color: $orange;
        }
    }
}

// @media screen and (max-width: 768px) {
//     .um-footer {
//         &__wrapper {
//             justify-content: none;
//         }

//         &__user-accept {
//             margin-right: 25px;
//         }
//     }
// }

@media screen and (max-width: 767px) {
    .um-footer {
        &__container {
            margin-top: 18px;
            height: 122px;
            
            flex-direction: column;
            align-items: center;
            justify-content: start;
            gap: 13px;
        }

        &__wrapper {
            justify-content: none;
            flex-direction: column;
        }

        &__user-accept {
            margin-right: 0;
        }

        &__uralmedias {
            margin-top: 10px;
        }
    }
}