.um-form {
    max-width: 518px;
    width: 100%;

    &--popup {
      padding-top: 18px;
    }

    &__input {
        width: 100%;
        margin-top: 6px;
        padding-left: 20px;
        height: 57px;
        border: 1.5px solid $black;
        font-family: $family;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: $black;

        &::placeholder {
          opacity: 0.4;
        }

        &:last-of-type {
            margin-top: 23px;
        }
    }

    &__button-submit {
        margin-top: 23px;
    }

    &__accept-terms  {
        margin-top: 15px;
        font-family: 'Geometria';
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        color: $black;
    }
}

@media screen and (max-width: 1023px) {
  .um-form {

    &__input {
        margin-top: 4px;
        height: 57px;
        font-size: 15px;
        line-height: 19px;

        &:last-of-type {
          margin-top: 24px;
        }
    }

    &__button-submit {
        margin-top: 21px;
    }

    &__accept-terms  {
      margin-top: 10px;
    }
  }
}

@media screen and (max-width: 767px) {
  .um-form {

    &__input {
        height: 51px;
        font-size: 15px;
        line-height: 19px;

        &:last-of-type {
          margin-top: 15px;
        }
    }

    &__button-submit {
        margin-top: 15px;
    }

    &__accept-terms  {
      margin-top: 11px;
    }
  }
}