.um-footer {

    &__logo {
      max-width: 59px;
    }

    &__container {
      height: 72px;
      display: flex;
      justify-content: space-between;
    }

    &__wrapper {
      max-width: 546px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__user-accept {
        font-family: $family;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: $white;

        &:hover {
          transition: all .3s ease-in-out;
          cursor: pointer;
          color: $orange;
        }
    }

    &__uralmedias {
        font-family: $family;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: $white;

        &:hover {
          transition: all .3s ease-in-out;
          cursor: pointer;
          color: $orange;
        }
    }
}