.um-header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 15;
    background-color: $black;
    box-shadow: 0px 0px 20px #000000;

    &__container {
        display: flex;
        justify-content: space-between;
        padding: 14px 0 15px;
    }

    &__navigation {
        display: flex;
    }

    &__nav-list {
      display: flex;
      align-items: center;
      gap: 25px;
    }

    &__nav-item {

    }

    &__link {
        font-family: $family;
        font-weight: $regular;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: $white;

        &:hover {
          color: $orange;
        }
    }

    &__contacts-wrapper {
        display: flex;
    }

    &__contancts-container {
        padding-right: 13px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 2px;
    }

    &__contacts {
        font-family: $family;
        font-weight: $regular;
        font-size: 14px;
        line-height: 18px;
        text-align: right;
        color: $white;

        &_type_link {
            &:hover {
              color: $orange;
            }
        }
    }

    &__button {
        font-family: $family;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        padding: 12px 12px 13px 12px;
        border: 1.8px solid #EFB566;
        background-color: transparent;
        color: $orange;
    }

    &.is-translated {
        transform: translateY(-100%);
    }
}