
.um-header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 15;
    background-color: $black;
    box-shadow: 0px 0px 20px #000000;

    &__container {
        height: 72px;
        display: flex;
        justify-content: space-between;
        padding: 14px auto 15px;
    }

    &__navigation {
        display: flex;
    }

    &__nav-list {
        display: flex;
        align-items: center;
        gap: 25px;
    }

    &__link {
        font-family: $family;
        font-weight: $regular;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: $white;

        &:hover {
          color: $orange;
        }
    }

    &__contacts-wrapper {
        display: flex;
    }

    &__contancts-container {
        padding-right: 13px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 2px;
    }

    &__contacts {
        font-family: $family;
        font-weight: $regular;
        font-size: 14px;
        line-height: 18px;
        text-align: right;
        color: $white;

        &_type_link {
            &:hover, &:active {
                color: $orange;
            }
        }
    }

    &__button {
        height: 43px;
        align-self: center;
        padding: 0 12px;
    }

    &__burger-button {
        display: none;
        align-self: center;
        background-image: url(../../img/header/burger-button.svg);
        background-color: transparent;
        width: 31px;
        height: 28px;

        &:hover, &:active {
            cursor: pointer;
            opacity: 0.7;
        }
    }

    &.is-translated {
        transform: translateY(-100%);
    }
}

@media screen and (max-width: 1140px) {
  .um-header {
      &__navigation {
          display: none;
      }

      &__contacts-wrapper {
          display: none;
      }

      &__burger-button {
          display: flex;
      }
  }
}

// @media screen and (max-width: 400px) {
@media screen and (max-width: 767px) {
  .um-header {

      &__container {
          height: 51px;
      }

      &__burger-button {
          background-size: cover;
          width: 25px;
          height: 23px;
      }
  }
}