.um-link {
    &--type-2 {
        color: $orange;
    }

    @media (hover: hover) {
        transition: all .3s ease-in-out;

        &:hover, &:active {
            cursor: pointer;
            color: $orange;
        }

        &--type-2:hover, &--type-2:active {
            color: $black;
        }
    }
}