.um-procedure {

    &__container {
        margin-top: 63px;
        padding-bottom: 50px;

        @media screen and (max-width: 1023px) {
            margin-top: 50px;
            padding-bottom: 48px;
        }

        @media screen and (max-width: 767px) {
            margin-top: 36px;
            padding-bottom: 39px;
        }
    }

    &__subtitle {
        max-width: 900px;
        margin: 22px auto 0 auto;

        @media screen and (max-width: 1023px) {
            max-width: 608px;
            margin-top: 13px;
            text-align: center;
        }

        @media screen and (max-width: 767px) {
            max-width: 345px;
            margin-top: 10px;
            text-align: center;
        }
    }

    &__paragraph {
        display: block;

        @media screen and (max-width: 767px) {
            line-height: 162%;
        }

        &:nth-of-type(2) {
            margin-top: 15px;

            @media screen and (max-width: 767px) {
                margin-top: 10px;
            }
        }
        
        &:nth-of-type(3) {
            margin-top: 18px;

            @media screen and (max-width: 1023px) {
                margin-top: 12px;
            }
        }
    }
}