.um-promo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-image: url(../../img/promo/promo.png);
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
    z-index: 1;

    &::before {
        content: " ";
        display: block;
        width: 55%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        background: linear-gradient(90deg, #15171C 26.75%, rgba(21, 23, 28, 0.942308) 42.83%, rgba(21, 23, 28, 0.76) 71.71%, rgba(21, 23, 28, 0.15) 83.38%, rgba(21, 23, 28, 0) 95.45%);
    }

    &::after {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 33%;
        height: 616px;
        background: linear-gradient(90deg, #15171C 9.15%, rgba(21, 23, 28, 0.95) 23.96%, rgba(21, 23, 28, 0.81) 42.15%, rgba(21, 23, 28, 0.67) 60.57%, rgba(21, 23, 28, 0) 77.32%);
        transform: matrix(-1, 0, 0, 1, 0, 0);
        z-index: 2;
    }

    &__container {
        margin-top: 105px;
        padding-bottom: 111px;
        display: flex;
        flex-direction: column;
    }

    &__about {
        max-width: 519px;
        font-family: $family;
        font-weight: $bold;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: $orange;
        z-index: 3;
    }

    &__title {
        margin-top: 16px;
        max-width: 531px;
        z-index: 3;

        &--mobile {
            display: none;
        }
    }

    &__subtitle {
      margin-top: 16px;
        max-width: 519px;
        z-index: 3;
    }
}

@media screen and (max-width: 1280px) {
  .um-promo {

      &::after {
          background: linear-gradient(90deg, #15171C 16.75%, rgba(21, 23, 28, 0.942308) 32.83%, rgba(21, 23, 28, 0.76) 41.71%, rgba(21, 23, 28, 0.15) 63.38%, rgba(21, 23, 28, 0) 75.45%);
      }
  }
}

@media screen and (max-width: 1040px) {
  .um-promo {

    &::after {
        background: linear-gradient(90deg, #15171C 16.75%, rgba(21, 23, 28, 0.942308) 16.83%, rgba(21, 23, 28, 0.76) 31.71%, rgba(21, 23, 28, 0.15) 43.38%, rgba(21, 23, 28, 0) 55.45%);
    }
  }
}

@media screen and (max-width: 1040px) {
  .um-promo {
      &::after {
          display: none;
      }
  }
}

@media screen and (max-width: 768px) {
  .um-promo {
      // height: 618px;
      background-image: url(../../img/promo/promo-tablet.png);

      &::before {
          background: linear-gradient(90deg, #15171C 0%, rgba(21, 23, 28, 0.88) 25.6%, rgba(21, 23, 28, 0.63) 57.17%, rgba(21, 23, 28, 0.23) 77.6%, rgba(21, 23, 28, 0) 96.39%);
      }

      &__container {
          margin-top: 114px;
          padding-bottom: 121px;
      }

      &__title {
          margin-top: 22px;
          max-width: 489px;
      }

      &__subtitle {
          margin-top: 26px;
          max-width: 450px;
      }
  }
}

@media screen and (max-width: 600px) {
  .um-promo {
      background-position: -170px;

      &__title--desctop {
          display: none;
      }

      &__title--mobile {
          display: block;
          max-width: 307px;
      }

      &__subtitle {
          max-width: 272px;
      }
  }
}

@media screen and (max-width: 500px) {
  .um-promo {
      background-position: -240px;
  }
}

@media screen and (max-width: 450px) {
  .um-promo {
      background-position: -290px;
  }
}

@media screen and (max-width: 376px) {
  .um-promo {
      background-position: top;
      background-image: url(../../img/promo/promo-mobile.png);

      &::before {
          background: linear-gradient(90deg, #15171C -16.47%, rgba(21, 23, 28, 0.82) 20.18%, rgba(21, 23, 28, 0.48) 45.28%, rgba(21, 23, 28, 0.23) 77.95%, rgba(21, 23, 28, 0) 96.39%);
      }

      &__container {
          margin-top: 56px;
          padding-bottom: 58px;
      }

      &__title {
          margin-top: 18px;
      }

      &__subtitle {
          margin-top: 16px;
      }
  }
}