.um-services {
  
    &__container {
        margin-top: 60px;
        padding-bottom: 71px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        margin: 0 25px;
    }

    &__subtitle {
        margin-top: 12px;
        max-width: 647px;
        text-align: center;
    }

    &__items {
        margin-top: 38px;
        display: flex;
        gap: 35px;
    }

    &__item {
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        max-width: 390px;
        width: 100%;
        background-color: #15171C;
        box-shadow: 0px 8px 41px rgba(0, 0, 0, 0.09), 0px 8px 29px #000000;
        transition: all .3s ease-in-out;

        &:hover {
            box-shadow: 0px 8px 41px #000000, 0px 8px 29px #000000;
        }
    }

    &__item-title {
        margin-top: 38px;
        max-width: 340px;
        font-family: $family;
        font-weight: 700;
        font-size: 25px;
        line-height: 133.5%;
        text-align: center;
    }

    &__item-description {
        padding: 0 25px;
        margin-top: 6px;
        font-family: $family;
        font-weight: normal;
        font-size: 18px;
        line-height: 160%;
        text-align: center;
    }

    &__item-button {
        margin-top: 32px;
    }
}

@media screen and (max-width: 1023px) {
  .um-services {

      &__container {
          margin-top: 50px;
          padding-bottom: 56px;
      }

      &__subtitle {
          margin-top: 13px;
      }

      &__items {
          margin-top: 30px;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          gap: 20px;
      }

      &__item {
        max-width: 354px;
        width: 100%;
        padding-bottom: 47px;
      }

      &__item-image {
        max-width: 354px;
        width: 100%;
        max-height: 177px;
      }

      &__item-title {
          margin-top: 30px;
      }

      &__item-description {
          margin-top: 6px;
          padding: 0 20px;
          font-size: 16px;
      }

      &__item-button {
          margin-top: 22px;
          padding: 16px 40px 18px;
      }
  }
}

@media screen and (max-width: 767px) {
  .um-services {

      &__container {
          margin-top: 35px;
          padding-bottom: 37px;
      }

      &__subtitle {
          margin-top: 10px;
      }

      &__items {
          margin-top: 23px;
      }

      &__item {
          width: 100%;
          padding-bottom: 28px;
      }

      &__item-image {
        max-height: 143px;
        width: 100%;
        object-fit: cover;
      }

      &__item-title {
          margin-top: 19px;
          font-size: 23px;
          line-height: 125%;

          &--row {
            margin-top: 15px;
          }
      }

      &__item-description {
          margin-top: 4px;
          padding: 0 14px;
          font-size: 14px;
          line-height: 165%;
      }

      &__item-button {
         margin-top: 16px;

         &--type-2 {
            margin-top: 19px;
         }
      }
  }
}