.um-title-3 {
    font-family: $family;
    font-weight: 800;
    font-size: 36px;
    line-height: 125%;
    text-align: center;
}

// @media screen and (max-width: 850px) {
@media screen and (max-width: 1023px) {
    .um-title-3 {
        font-size: 32px;
        line-height: 130%;
    }
}

// @media screen and (max-width: 600px) {
@media screen and (max-width: 767px) {
    .um-title-3 {
      font-size: 28px;
    }
}