.um-title-1 {
    font-family: $family;
    font-weight: 800;
    font-size: 55px;
    line-height: 125%;
    color: $white;
}

// @media screen and (max-width: 768px) {
@media screen and (max-width: 1023px) {
    .um-title-1 {
        font-size: 50px;
        line-height: 130%;
    }
}

// @media screen and (max-width: 600px) {
@media screen and (max-width: 767px) {
    .um-title-1 {
      font-size: 45px;
      line-height: 120%;
    }
}
