.um-title-2 {
    font-family: $family;
    font-weight: 800;
    font-size: 39px;
    line-height: 130%;
    text-align: center;
    // text-transform: uppercase;
}

// @media screen and (max-width: 850px) {
@media screen and (max-width: 1023px) {
    .um-title-2 {
        font-size: 35px;
        line-height: 130%;
    }
}

// @media screen and (max-width: 600px) {
@media screen and (max-width: 767px) {
    .um-title-2 {
      font-size: 31px;
    }
}