$family: 'Geometria';
$regular: 500;
$bold:  700;
$extraBold: 900;

@font-face {
  font-family: 'Geometria';
  src: url('../../fonts/Geometria-Regular.woff') format('woff'),
       url('../../fonts/Geometria-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('../../fonts/Geometria-Medium.woff') format('woff'),
       url('../../fonts/Geometria-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('../../fonts/Geometria-Bold.woff') format('woff'),
       url('../../fonts/Geometria-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('../../fonts/Geometria-ExtraBold.woff') format('woff'),
       url('../../fonts/Geometria-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('../../fonts/Geometria-Heavy.woff') format('woff'),
       url('../../fonts/Geometria-Heavy.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

