extends ../common/layout

block content
  main.um-main
    include ../common/banner.pug
    include ../common/procedure.pug
    include ../common/translation.pug
    include ../common/advantages.pug
    include ../common/consultation.pug