extends ../common/layout

block content
  main.um-main
    //- include ../common/burger.pug
    include ../common/promo.pug
    include ../common/services.pug
    include ../common/about-trust.pug
    include ../common/consultation.pug
    include ../common/team.pug
    include ../common/about-company.pug
    include ../common/certificate.pug