extends ../common/layout

block content
  main.um-main
    include ../common/banner-mediation.pug
    include ../common/procedure.pug
    include ../common/translation.pug
    include ../common/advantages-mediation.pug
    include ../common/consultation.pug