extends ../common/layout

block content
  main.um-main
    include ../common/banner-tax-disputs.pug
    include ../common/procedure.pug
    include ../common/translation.pug
    include ../common/advantages-tax-disputs.pug
    include ../common/consultation.pug