extends ../common/layout

block content
	main.ui-kit
		.ui-kit__container.um-container
			.um-grid
				.um-grid__item
					.ui-kit__title Кнопки
					.ui-kit__block.um-grid.um-grid--2
						.um-grid__item
							<br>
							pre #{""}
							